<!doctype html>
<html>

<head>
    <title>Groove: Unsupervised Music Recommender</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <style type="text/css">
    .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
    }
    </style>
</head>

<body>
    <div class="container">
        <div id="login">
            <h1>Groove: Unsupervised Music Recommender</h1>
            <button id="login-button" class="btn btn-primary">Log in with Spotify</button>
        </div>
    </div>
    <script>
    var stateKey = 'spotify_auth_state';

    /**
     * Generates a random string containing numbers and letters
     * @param  {number} length The length of the string
     * @return {string} The generated string
     */
    function generateRandomString(length) {
        var text = '';
        var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

        for (var i = 0; i < length; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return text;
    };
    var state = generateRandomString(16);
    localStorage.setItem(stateKey, state);
    console.log(localStorage);

    document.getElementById('login-button').addEventListener('click', function() {

        var client_id = '544a4596dd3a41ebaaebf8ab253dd998'; // This will be put in .env when we go public.
        var redirect_uri = 'https://c74b0f401e15.ngrok.io/redirect'; // This link updates every 8 hours. Fix it manually.

        //var state = generateRandomString(16);

        //localStorage.setItem(stateKey, state);
        //console.log(localStorage);
        var scope = 'user-read-private user-read-email user-top-read playlist-read-collaborative user-read-recently-played user-library-read user-read-recently-played';

        var url = 'https://accounts.spotify.com/authorize';
        url += '?response_type=token';
        url += '&show_dialog=true';
        url += '&client_id=' + encodeURIComponent(client_id);
        url += '&scope=' + encodeURIComponent(scope);
        url += '&redirect_uri=' + encodeURIComponent(redirect_uri);
        url += '&state=' + encodeURIComponent(state);

        setTimeout(function(){
          window.location = url;
        }, 1000)
    }, false);
    </script>

</html>