<!DOCTYPE html>
<html lang="en">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Groove: Recommendations</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://www.cs.drexel.edu/~vck29/pennapps_static/img/favicon.png" rel="icon">
  <link href="https://www.cs.drexel.edu/~vck29/pennapps_static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://www.cs.drexel.edu/~vck29/pennapps_static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="https://www.cs.drexel.edu/~vck29/pennapps_static/venobox/venobox.css" rel="stylesheet">
  <link href="https://www.cs.drexel.edu/~vck29/pennapps_static/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://www.cs.drexel.edu/~vck29/pennapps_static/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/home_style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="" alt="profile-picture" class="img-fluid rounded-circle" id="profile-pic">
        <h1 class="text-light" id="displayname-href"></h1>
        <h5 class="text-light" id="email-href"></h5>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#recommendations"><i class="bx bx-music"></i> <span>Recommendations</span></a></li>
          <li><a href="#plots"><i class="bx bx-file-blank"></i> <span>Plots</span></a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

<!-- End Hero -->

  <main id="main">
      <!-- ======= Hero Section ======= -->
    <section id="hero" class="recommendations">
      <div class="container">

        <div class="section-title">
          <h2>Home</h2>
          <h5>Select one of the following criterias to get your recommendations. We'll extract the data using the Spotify Developers API:</h5>
        </div>
            <div>
                <div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="top_songs">Top 20 Songs</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="recently_played">Recently Played (24 hrs)</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="saved_tracks">20 Saved Tracks</button>
                  </div>
                  <div>
                    <h4>Or</h4>
                    <div id="custom_user_playlists">
                        <h5>Select a playlist. Again, we will use the Spotify Developers API to extract the data:</h5>
                    </div>
                </div>
            </div>
      </div>
    </section>
    <!-- ======= Recommendations Section ======= -->
    <section id="recommendations" class="recommendations">
      <div class="container">

        <div class="section-title">
          <h2>Recommendations</h2>
          <h5>Here are your recommendations.</h5>
        </div>
        <div>
            <div id="recommend" style="margin-top: -200px">
              <h1>Sorry! Please make a selection above!</h1>
            </div>
        </div>
      </div>
    </section><!-- End Recommendations Section -->

    <!-- ======= Plots Section ======= -->
    <section id="plots" class="recommendations">
      <div class="container">

        <div class="section-title">
          <h2>Plots</h2>
          <p>The following plots have been shown to better understand the working of our algorithm.</p>
        </div>
            <div>
                <h5>Trained Cluster Distribution</h5>
                <p>The following plot has been generated by training our KMeans Clustering Algorithm with 170,000 songs and 1000 clusters. Originally, each song had 9 dimensions, but to improve the results, we applied Principal Component Analysis (PCA) to reduce each song to 2-dimensions while still preserving the characteristics. </p>
                <img src="https://www.cs.drexel.edu/~vck29/overall_clustering_2dplot_compressed_2_clusters_1000.svg" class="img-fluid" alt="cluster_images">
            </div>
            <div id='generated_plots'>
            </div>
      </div>
    </section> <!-- End Plots Section -->

  </main><!-- End #main -->
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://www.cs.drexel.edu/~vck29/pennapps_static/jquery/jquery.min.js"></script>
  <script src="https://www.cs.drexel.edu/~vck29/pennapps_static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://www.cs.drexel.edu/~vck29/pennapps_static/jquery.easing/jquery.easing.min.js"></script>
  <script src="https://www.cs.drexel.edu/~vck29/pennapps_static/waypoints/jquery.waypoints.min.js"></script>
  <script src="https://www.cs.drexel.edu/~vck29/pennapps_static/counterup/counterup.min.js"></script>
  <script src="https://www.cs.drexel.edu/~vck29/pennapps_static/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://www.cs.drexel.edu/~vck29/pennapps_static/venobox/venobox.min.js"></script>
  <script src="https://www.cs.drexel.edu/~vck29/pennapps_static/owl.carousel/owl.carousel.min.js"></script>
  <script src="https://www.cs.drexel.edu/~vck29/pennapps_static/typed.js/typed.min.js"></script>
  <script src="https://www.cs.drexel.edu/~vck29/pennapps_static/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/portmain.js"></script>
  <script>
    (function() {

        var stateKey = 'spotify_auth_state';
        const ngrok_url = 'https://1e8c12cf6ba1.ngrok.io/';
        const user_playlist = [];

        function getHashParams() {
            var hashParams = {};
            var e, r = /([^&;=]+)=?([^&;]*)/g,
                q = window.location.hash.substring(1);
            while (e = r.exec(q)) {
                hashParams[e[1]] = decodeURIComponent(e[2]);
            }
            return hashParams;
        }

        var params = getHashParams();

        var access_token = params.access_token,
            state = params.state,
            storedState = localStorage.getItem(stateKey);

        if (access_token && (state == null || state !== storedState)) {
            alert('There was an error during the authentication');
        } else {
            localStorage.removeItem(stateKey);
            if (access_token) {
                $.ajax({
                    url: 'https://api.spotify.com/v1/me',
                    headers: {
                        'Authorization': 'Bearer ' + access_token
                    },
                    success: function(response) {
                        console.log(response);
                        if (response['images'].length == 0){
                          document.getElementById('profile-pic').src = "https://www.cs.drexel.edu/~vck29/pennapps_static/img/blank_user.png"
                        }
                        else{
                          document.getElementById('profile-pic').src = response['images'][0]['url'];
                        }
                        // const email_href = 'mailto:'+response['email'];
                        document.getElementById('displayname-href').innerHTML = '<a href="'+response['external_urls']['spotify']+'" target=_blank>'+response['display_name']+'</a>';
                        //  document.getElementById('email-href').innerHTML = '<a href="'+email_href+'" target=_blank>'+response['email']+'</a>';
                        // document.getElementById('country-href').innerHTML = 'Country: ' + response['country'];
                        // if (response['product'] === 'premium'){
                        //     document.getElementById('premium-href').innerHTML = 'Premium User';
                        // }
                    }
                });
            }
        }

        //get the user playlists and display it in the UI
        if (access_token) {
            $.ajax({
                url: ngrok_url + '/get_user_playlist',
                type: 'get',
                data: {
                    access_token: access_token
                },
                success: function(response) {
                    response.forEach((item, index) => {
                        user_playlist.push(item[0]);
                        const div_id = String(index)
                        const append_val = '<button type="button" class="btn btn-secondary btn-lg btn-block" id="' + div_id + '">' + item[1] + '</button>'
                        document.getElementById('custom_user_playlists').innerHTML += append_val
                    })
                    //playlist listeners
                    console.log(user_playlist.length);
                    if (user_playlist.length > 0) {
                        user_playlist.forEach((item, index) => {
                            const elem = document.getElementById(String(index))
                            console.log(elem)
                            elem.addEventListener('click', function(){
                                $.ajax({
                                    url: ngrok_url + '/playlist',
                                    type: 'get',
                                    data: {
                                        access_token: access_token,
                                        req_id: item
                                    },
                                    success: function(response) {
                                        generate_recommendation_table(response);
                                        //console.log(response);
                                    }
                                })
                            })
                        })
                    }

                }
            })
        }

        function generate_recommendation_table(response){
                    const plot_link = response['plot'];
                    const rec_list = response['recommendations'];
                    const rec_div = document.getElementById('recommend');
                    rec_div.innerHTML = '';
                    const display_table = document.createElement('table');
                    display_table.class = 'table';
                    const header_row = display_table.insertRow(0);

                    const cell1 = header_row.insertCell(0); //sr no.
                    const cell2 = header_row.insertCell(1); //recommended song
                    const cell3 = header_row.insertCell(2); //base song
                    const cell4 = header_row.insertCell(3); //associated cluster
                    const cell5 = header_row.insertCell(4);

                    cell1.innerHTML = "<b>Sr NO.</b>";
                    cell2.innerHTML = "<b>Recommended Song</b>";
                    cell3.innerHTML = "<b>Base Song</b>";
                    cell4.innerHTML = "<b>Associated Cluster</b>";
                    cell5.innerHTML = "<b>Approval</b>";

                    var row = 1;
                    var td_count, data_row, dc;
                    for (i=0; i<rec_list.length; i++){
                        td_count = 0;
                        data_row = display_table.insertRow(row);

                        while(td_count < 5){
                            dc = data_row.insertCell(td_count);

                            //sr no.
                            if (td_count == 0){
                                dc.innerHTML = '<b>'+String(i)+'</b>';
                            }

                            //recommended song
                            if (td_count == 1){
                                const recommended_name = rec_list[i]['recommended_track_name'];
                                const recommended_url = rec_list[i]['recommended_track_url'];
                                dc.innerHTML = '<a href="'+recommended_url+'">'+recommended_name+'</a>';
                            }

                            //base song
                            if (td_count == 2){
                                const base_name = rec_list[i]['base_track_name'];
                                const base_url = rec_list[i]['base_track_url'];
                                dc.innerHTML = '<a href="'+base_url+'">'+base_name+'</a>';
                            }

                            //associated cluster
                            if (td_count == 3){
                                const associated_cluster = rec_list[i]['associated_cluster'];
                                dc.innerHTML = '<b>'+String(associated_cluster)+'</b>';
                            }

                            //approval
                            if (td_count == 4){
                                const id_val = "recomm_"+String(i);
                                dc.innerHTML = '<input type="checkbox" id="'+ id_val+'" name="' + id_val + '">';
                            }
                            td_count++;
                        }
                        row++;
                        rec_div.appendChild(display_table);
                        rec_div.appendChild(document.createElement('br'));
                    }
                    rec_div.innerHTML+='<button type="button" class="btn btn-primary" id="sub">Submit</button>'
                    document.getElementById('sub').addEventListener('click',
                      function(){
                        const rec_div = document.getElementById('recommend');
                        rec_div.innerHTML += '<h5>Thank you for the feedback! It has been recorded!</h5>'
                        window.location.href = "#plots";
                      })
                    window.location.href = "#recommendations";

                    const plot_div = document.getElementById('generated_plots');
                    const h5_tag1 = document.createElement('h5');
                    h5_tag1.innerHTML = "Recommended Cluster Distribution";
                    plot_div.appendChild(h5_tag1);
                    const p_tag = document.createElement('p');
                    p_tag.innerHTML = "The following plot has been generated based on the data extracted from the user. The following plots show the recommended clusters based on the songs extracted by the user.";
                    plot_div.appendChild(p_tag);
                    const img_tag = document.createElement('img');
                    img_tag.src = plot_link;
                    img_tag.class = 'img-fluid';
                    img_tag.alt = 'plot';
                    plot_div.appendChild(img_tag);
        }


        //top songs listener
        document.getElementById('top_songs').addEventListener('click', function() {
            $.ajax({
                url: ngrok_url + '/top_songs',
                type: 'get',
                data: {
                    access_token: access_token
                },
                success: function(response) {
                    generate_recommendation_table(response);
                }
            })
        })

        //recently played listener
        document.getElementById('recently_played').addEventListener('click', function() {
            $.ajax({
                url: ngrok_url + '/recently_played',
                type: 'get',
                data: {
                    access_token: access_token
                },
                success: function(response) {
                    generate_recommendation_table(response);
                }
            })
        })

        //saved tracks listener
        document.getElementById('saved_tracks').addEventListener('click', function() {
            $.ajax({
                url: ngrok_url + '/saved_tracks',
                type: 'get',
                data: {
                    access_token: access_token
                },
                success: function(response) {
                    generate_recommendation_table(response);
                }
            })
        })

        //helper function
        function playlist_helper(item, index) {
            document.getElementById(String(index)).addEventListener('click',
                function() {
                    $.ajax({
                        url: ngrok_url + '/playlist',
                        type: 'get',
                        data: {
                            access_token: access_token,
                            req_id: item
                        },
                        success: function(response) {
                            console.log(response)
                        }
                    })
                })
        }

    })();
    </script>
</body>

</html>